@import url('https://fonts.googleapis.com/css?family=Parisienne');

*{
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	list-style: none;
}
body{
	font-size: 16px;
	color: #000;
}
#certificatebg{
	max-width: 1024px;
	max-height: 750px;
	border: 5px solid #e88f4e;
	width: 100%;
	margin: 0px auto;
}
#certificatebox{
	width:100%;
	height: 100%;
	background: white;
	margin: 0 auto;
	background: url('images/background.png') no-repeat center top;
	display: inline-block;
}
#logo{
	width: 100%;
	height: auto;
	float: left;
}
#logo img{
	display: block;
	margin: 30px auto 10px auto;
}

#heading{
	width: 100%;
	height: 170px;
	float: left;
}
#content{
	width: 100%;
	height: auto;
	float: left;
}
#container{
	width: 90%;
	height: auto;
	margin: 30px auto;
}
p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #2d2d2d;
	text-align: justify;
}


@media print{
*{
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	list-style: none;
}
@page {
	margin:0mm;
	size: A4 landscape;
}
#certificatebg{
	max-width: 1024px;
	max-height: 768px;
	border: 5px solid #e88f4e;
	width: 100%;
	margin: 35px auto;
}
#certificatebox{
	width:100%;
	height: 100%;
	background: white;
	margin: 0 auto;
	background: url('images/background.png') no-repeat center top;
	display: inline-block;
}
#logo{
	width: 100%;
	height: auto;
	float: left;
}
#logo img{
	display: block;
	margin: 30px auto 10px auto;
	margin-top: 30px;
}

#heading{
	width: 100%;
	height: 170px;
	float: left;
}
#content{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 10px;
}
#container{
	width: 90%;
	height: auto;
	margin: 30px auto;
}
p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #2d2d2d;
	text-align: justify;
}
}